{% load widget_tweaks %}

<h1 class="mt-8 mb-4 prose prose-2xl text-white">
    Create Transactions
</h1>

<form hx-post="{% url 'create-transaction' %}" hx-target="#transaction-block">
    <div class="mb-2 form-control text-black">
        {{ form.type|add_label_class:"label text-white" }}
        {% render_field form.type class='input' %}
    </div>

    <div class="mb-2 form-control text-black">
        {{ form.amount|add_label_class:"label text-white" }}
        {% render_field form.amount class='input' %}
        
        {% for error in form.amount.errors %}
        	<p class="text-red mt-1">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="mb-2 form-control text-black">
        {{ form.date|add_label_class:"label text-white" }}
        {% render_field form.date class='input' %}
    </div>

    <div class="mb-2 form-control text-black">
        {% render_field form.category class='text-white' %}
    </div>

    <div class="flex justify-between mt-12">
        <button class="btn btn-error"
        hx-get="{% url 'transactions-list' %}"
        hx-target="#transaction-block"
        hx-push-url='/transactions'>
            Cancel
        </button>

        <button class="btn btn-success">
            Submit
        </button>
    </div>
</form>
