{% load widget_tweaks %}

<div class="flex flex-col-reverse md:grid md:grid-cols-4 gap-4" id="transactions-container">
    <div class="col-span-3">
        <h2 class="text-2xl text-white">Summary</h2>

        <table class="table mb-8">
            <thead class="text-xl text-white uppercase">
                <tr>
                    <th class="px-6 py-3">Expenses</th>
                    <th class="px-6 py-3">Incomes</th>
                    <th class="px-6 py-3">Net Incomes</th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <td>${{ income|floatformat:2 }}</td>
                    <td>${{ expense|floatformat:2 }}</td>
                    <td>${{ net_income|floatformat:2 }}</td>
                </tr>
            </tbody>
        </table>

        <div class="flex justify-between items-center mt-4 mb-6">
            <h2 class="text-2xl text-white">Transactions</h2>

            <a hx-get="{% url 'create-transaction' %}"
                hx-push-url="true"
                hx-target="#transaction-block"
                class="cursor-pointer"
            >
                <svg xmlns="http://www.w3.org/2000/svg" fill="gray" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-10">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
                </svg>
            </a>
        </div>

        <dialog class="modal" id="transactions_modal">
            <div class="modal-box" id="transactions_modal_content">
            </div>
        </dialog>

        {% if filter.qs %}
            <table class="table p-12">
                <thead class="text-xl text-white uppercase">
                <tr>
                    <th class="px-6 py-3">Date</th>
                    <th class="px-6 py-3">Category</th>
                    <th class="px-6 py-3">Type</th>
                    <th class="px-6 py-3">Amount</th>
                </tr>
                </thead>

                <tbody>
                {% for transaction in filter.qs %}
                    <tr>
                        <td>{{ transaction.date }}</td>
                        <td>{{ transaction.category }}</td>
                        <td>{{ transaction.type }}</td>
                        <td>{{ transaction.amount }}</td>
                        <td> 
                            <button
                                class="btn btn-info"
                                hx-get="{% url 'update-transaction' transaction.id %}" 
                                hx-target="#transactions_modal_content"
                                onclick="transactions_modal.showModal()">
                                Edit
                            </button>
                         </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        {% else %}
            <p class="text-2xl text-white "> No Transactions found</p>

        {% endif %}
    </div>

    <div class="col-span-1">
        <form hx-get="{% url 'transactions-list' %}"
              hx-target="#transactions-container"
              hx-swap="outerHTML">

            <div class="mb-2 form-control">
                {{ filter.form.transaction_type|add_label_class:"label text-white" }}
                {% render_field filter.form.transaction_type class="select bg-gray-50 text-black" %}
            </div>

            <div class="mb-2 form-control">
                {{ filter.form.start_date|add_label_class:"label text-white" }}
                {% render_field filter.form.start_date class="select bg-gray-50 text-black" %}
            </div>

            <div class="mb-2 form-control">
                {{ filter.form.end_date|add_label_class:"label text-white" }}
                {% render_field filter.form.end_date class="select bg-gray-50 text-black" %}
            </div>

            <div class="mb-2 form-control">
                {% render_field filter.form.categories class="text-white border-gray-500 rounded focus:ring-green-500" %}
            </div>

            <button class="btn btn-success">
                Filter
            </button>
        </form>
    </div>
</div>
