{% load widget_tweaks %}

<h2>Update Form</h2>
<form method="post" hx-patch="{% url 'update-transaction' instance.id %}" hx-target="#transactions-modal">

    <div class="mb-2 form-control text-black">
        {{ form.type|add_label_class:"label text-white" }}
        {% render_field form.type class='input' %}
    </div>

    <div class="mb-2 form-control text-black">
        {{ form.amount|add_label_class:"label text-white" }}
        {% render_field form.amount class='input' %}
        
        {% for error in form.amount.errors %}
        	<p class="text-red mt-1">{{ error }}</p>
        {% endfor %}
    </div>

    <div class="mb-2 form-control text-black">
        {{ form.date|add_label_class:"label text-white" }}
        {% render_field form.date class='input' %}
    </div>

    <div class="mb-2 form-control text-black">
        {% render_field form.category class='text-white' %}
    </div>

    <div class="flex justify-between mt-4">
        <button type="submit" class="btn btn-success">Save</button>
        <button type="button" class="btn btn-error" onclick="transactions-modal.showModal()">Cancel</button>
    </div>
            
</form>
